
a {
    -moz-box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
    2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
    inset 0 -1px 1px rgba(18,156,156,1), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
    -webkit-box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
    2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
    inset 0 -1px 1px rgba(18,156,156,1), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
    box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
    2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
    inset 0 -1px 1px rgba(18,156,156,1), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
    color: #000;
}
a:hover {
    -moz-box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
    2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
    -webkit-box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
    2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
    box-shadow:
    0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
    2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
    inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
    inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
    color:#fff;
}
body {
    position: absolute;
    width: 95%;
    height: 100%;
    left: 10px;
    display: block;
}
.menu-bar {
	min-height: 25px;
    background-color: #3566bf;
}

.logo-image {
	height: 150px;
}
.header-bar {
    padding: 5px;
}
div#header {
    position: relative;
    width: 100%;
    overflow: hidden;
}
div.query-shader {
    background: rgba(120,120,120,0.8);
    z-index: 1000;
    width: 100%;
    height: 100%;
    position: absolute;
}
.query-box {
    width: 200px;
    height: 120px;
    background-color: white;
    border: 1px solid black;
    border-radius: 4px;
    margin: auto;
    vertical-align: middle;
    display: block;
    top: 25%;
    position: absolute;
    left: 45%;
}
div.query-title {
    border-bottom: 2px solid black;
    text-align: left;
}
.query-box > div {
    margin: 2px;
    padding: 3px;
}
button.query-button {
    margin: 2px 5px;
}
.query-buttons {
    border-top: 2px solid black;
}
.footer-div {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgb(87, 124, 191);
    bottom: 0px;
    position: relative;
}
.text-white {
    color: white;
}
#settingsMenuDiv,
.category,
#categoryMenuDiv {
    left: -1000px;
}
.quote-container {
    display: inline-flex;
    padding: 2px 20px;
    position: relative;
    z-index: 100;
    background-image: url("http://memorytutor.scottdinwiddie.com/assets/flashcard/images/scroll-417x327.png") ;
    background-size: cover;
}
.quote-mark {
    font-size: larger;
}
.quote-info {
    position: relative;
    overflow: hidden;
    display: block;
    margin: auto;
    width: 80%;
}
.quote-info .text {
    display: inline-flex;
    margin: 8px 5px 0 5px;
}
#text > .quote-text {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 8px;
    text-align: center;
    vertical-align: bottom;
}
.quote-info > div {
    margin: 2px 5px;
}
.site-title {
    color: white;
    float: right;
    font-family: 'Permanent Marker', cursive;
    font-size: 82px;
    margin-right: 15%;
    white-space: nowrap;
}
.category-button > a, .quizzes-btn > a, .view-my-cardsets-btn > a {
    color: white;
    text-decoration: inherit;
}
.category-button:hover, .category-button:focus,
.category-button > a:hover{

    font-weight: bold;
    color: white;
    background-color: midnightblue;
}
.quizzes-btn:hover, .quizzes-btn:focus,
.view-my-cardsets-btn:hover{
    text-decoration: wavy;
    font-weight: bold;
    color: white;
}
.quizzes-btn:hover{
    background-color: rgb(255,100,100);
}
.view-my-cardsets-btn:hover, .view-my-cardsets-btn:focus{
    background-color: mediumpurple;
}
#settingsButtonDiv {
    position: absolute;
    right: 10px;
    font-size: 12px;
}
#settingsMenu {
    font-size: .7em !important;
    position: absolute;
    width:  150px;
    z-index: 500;
}
div#navBar {
    overflow: hidden;
    display: inline-flex;
    height: 100%;
    width: 30%;
    position: absolute;
    left: 0px;
}
#navBar>div {
    overflow: hidden;
    width: 100%;
    margin: auto;
}
.mtbutton {
    color: #fff;
    background-color: rgba(180,180,250,0.8);
    margin: 2px;
    padding: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    cursor: pointer;
}
.cogbutton {
    color: #000;
    background-color: rgba(240,240,240,0.8);
    margin: 2px;
    padding: 2px;
    border-radius: 4px;
    cursor: pointer;
    width: 25px;
}
.nav-active {
    background-color: mediumpurple;
    color: #000;
}
.quizzes-active {
    background-color: rgb(255,100,100);
    color: #000;
}
.home-active {
    background-color: steelblue;
    color: #000;
}
.quiz-back {
    background-color: rgb(255,100,100);
}
.viewcset-back {
    background-color: mediumpurple;
}
#navBar>div[id$='ButtonDiv'] {
    overflow: hidden;
    margin: auto 2px;
}
.nav-bottom {
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    height: 2px;
    display: block;
    width: 100%;
    left: 0;
    background-color: white;
}
#categoryMenu {
    font-size: .7em !important;
    position: absolute;
    width:  150px;
    z-index: 500;
}