.body {
	
}
.main-body {
	overflow: hidden;
	margin: auto;
}
.left-sidebar {
	width: 19%;
	float: left;
	top: 0;
	bottom: 0;
	position: absolute;
	border-right: 3px solid black;
}
div#sidebarmenu > ul > li {
	padding: 10px;
}
div#sidebarmenu > ul > li {
	border-bottom: 1px solid black;
}
div#sidebarmenu > ul {
	list-style-type: none;
	margin: 0px;
	-webkit-padding-start: 0px;
}
.pad {
	font-size: 24px;
	overflow-y: auto;
	height: inherit;
}
.left-sidebar>ul {
	text-align: left;
	list-style-type: none;
}
.login-form-container {
	z-index: 1000;
	display: block;
	position: absolute;
	border: 1px solid black;
	border-radius: 8px;
	background-color: white;
	width: 280px;
}
.center-area {
	border: 1px solid black;
	float: left;
	min-width: 80%;

}
.center-area-full-screen {
	width: 100%;
	min-height: 340px;
}
.root-category {
	width: 100px;
}
.onedeep {
	width: 100px;
}
ul {
	text-align: left;
}
.multi {
	width: 100px;
}
.cardset {
	width: 100px;
	background-color: #99dd99;
}
.content {
	height: 100%;
	overflow: hidden;
	display: block;
	width: 80%;
	position: absolute;
	right: 2px;
}
#loginButtonDiv {
	float: right;
	overflow: hidden;
	margin-right: 5px;
	font-size: 12px;
}
div#quotesDiv {
	position: relative;
	width: 100%;
	clear: both;
	display: block;
	margin: 3px;
	overflow: hidden;
	height: 130px;
}
div#centerArea {
	display: block;
	position: relative;
	width: 100%;
	min-height: 340px;
}
.border-top-black3px {
	border-top: 3px solid black;
}
div#mainbody {
	border-left: 5px solid rgb(87, 124, 191);
	border-right: 5px solid rgb(87, 124, 191);
}
#loginRegisterButtons > div {
	width: 50%;
}
#loginRegisterButtons .login-div {
	float: right;
}
#loginRegisterButtons .register-div {
	float: left;
}
.site-updates{
	overflow-x: hidden;
	overflow-y: scroll; 
	height: 100px;
	border: 2px inset black;
}
.sameline {
	display: inline-flex;
}
form#newCategoryForm > div {
	width: 100%;
}
form#newCategoryForm {
	overflow: hidden;
}
form#newCardSetForm > div {
	width: 100%;
}
form#newCardSetForm {
	overflow: hidden;
}
/* -- swing like a gate -- */
.swing .front,
.swing .back {
/*width: 140px;*/
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
transition-duration: 1s;
-webkit-transform-origin: 225px 0;
-moz-transform-origin: 225px 0;
transform-origin: 225px 0;
}
.swing .front {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
transform: rotateY(0deg);
}
.swing .back {
background-color: #555; /* hiding this side, so get darker */
-webkit-transform: rotateY(-180deg) translateX(198px) translateZ(2px);
-moz-transform: rotateY(-180deg) translateX(198px) translateZ(2px);
}
.swing.flip .front {
background-color: #222; /* hiding this side, so get darker */
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
}
.swing.flip .back {
background-color: #80888f;
-webkit-transform: rotateY(0deg) translateX(198px) translateZ(2px);
-moz-transform: rotateY(0deg) translateX(198px) translateZ(2px);
}
.admin-buttons {
	text-align: center;
}
.admin-buttons>button {
	margin: 2px;
}
.border-black {
	border: 1px solid black;
}
.border-red {
	border: 1px solid red;
}
.border-blue {
	border: 1px solid blue
}
.border-green {
	border: 1px solid green;
}
.cardset-info {
	text-align: center;
	border: 2px outset black;
	min-height: 240px;
	overflow: hidden;

}
.cardset-selector {
	border: 2px inset black;
	padding: 2px;
}
.cards-in-set {

}
.categorization-container {
	margin: 7px 3px;
	min-width: 200px;
	padding: 3px;
	text-align: center;
}
.categorization-container>label {
	display: inline-flex;
	vertical-align: top;
}
.categorization-container>div.selc-mod-div {
	display: inline-flex;
	width: 25px;
}
.prompt-items {
	width: 100%;
}
.prompt-items > div {
	width: 100%;
	display: block;
}
/*div.prompt-items > div > * {*/
/*margin: auto;*/
/*display: inline-block;*/
/*}*/
.mod-buttons>span {
	overflow: hidden;
	width: 25px;
	display: block;
	font-size: 14px;
	line-height: 1em;
	border: 1px solid black;
	border-radius: 4px;
	margin-top: 1px;
	color: green;
	font-weight: bold;
}
#deleteCat {
	color: red;
}
div#alarmon > table {
	margin: auto;
}
.textareadiv {

}
div#checks > div {
	display: inline-table;
	width: 40%;
}
.prompt-items > div {
	width: 100%;
	display: block;
}
div#dates {
	clear: both;
	display: block;
	margin: auto;
}
div#alarmCountDiv {
	overflow: hidden;
	clear: right;
	padding: 20px;
}
.checks {
	float: right;
}
.chkWrap, .prvWrap {
	width: 120px;
	height: 40px;
	background: #333;
	margin: auto;
	border-radius: 50px;
	position: relative;
}
.chkWrap:before {
	content: 'Active';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 12px;
}
.prvWrap:before {
	content: 'Private';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 12px;
}
.chkWrap:after {
	content: 'Inactive';
	position: absolute;
	top: 12px;
	left: 72px;
	height: 2px;
	color: #f00;
	font-size: 12px;
}
.prvWrap:after {
	content: 'Public';
	position: absolute;
	top: 12px;
	left: 72px;
	height: 2px;
	color: #10afff;
	font-size: 12px;
}
.prvWrap label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #1035ff;
}
.chkWrap label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #f00;
}
.center {
	text-align: center;
}
.firstselect {
	min-width: 80%;
}
.secselect {
	color: black;
	display: inline;
	margin-right: 3px;
	width: 60%;
}
.info-short-items {
	float: left;
	padding: 2px;
	text-align: center;
	margin: 9px;
	width: 31%;
}
.short-items {
	display: block;
	overflow: auto;
}
div.top-left-form-div > div {
	width: 100%;
}
.description-div > div {
	margin: auto;
}
.highlight {
	background-color: whitesmoke !important;
}
.top-left-form-div {
	display: inline-block;
	float: left;
	margin: 10px 0 3px;
	padding: 3px 5px;
	width: 100%;
	text-align: center;
}
.description-div {
	display: inline-block;
	float: right;
	width: 50%;
}
.view-header {
	border: 1px outset black;
	overflow: hidden;
}
.view-body {
	border: 1px outset black;
	overflow: hidden;
	min-height: 250px;
}
.view-cardsets-page {
	overflow: hidden;
	margin: auto;

}
table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }
.tab-content>div {
	overflow: hidden;
}
#updateCardsetSubmitButton {
	float: right;
}
.modal-dialog {
	width: 650px;
}
/**
 * Create the checkbox event for the label
 */
.chkWrap input[type=checkbox]:checked + label,
.prvWrap input[type=checkbox]:checked + label{
	left: 60px;
	background: #26ca28;
}

#infoActive {}

#infoActive > span {
	margin: 10px auto;
}