body {
    width: 99%;
    height: 100%;
    margin: 0 auto;
}
div.top-menu {
    width: 100%;
    background-color: black;
    color: white;
    display: inline-flex;
}
div.mbody {
    width: 100%;
}
div.footer-div {
    width: 100%;
    font-size: 36px;
    background-color: midnightblue;
    color: white;
    position: relative;
    bottom: 0px;
}
div#popoutmenu > div:first-child {
    border-top: 2px solid white;
}
div#popoutmenu > div {
    border-bottom: 2px solid white;
}
div#popoutmenu {
    position: absolute;
    z-index: 5000;
    overflow: hidden;
    width: 99%;
    font-size: 72px;
    border: 2px solid black;
    background: black;
    color: white;
}
div#prompt.tab-pane > .prompt-items > * {
    display: block;
    width: 100%;
    padding: 10px;
}
div#textareadiv > label {
    float: left;
}
.row.top-row > span {
    float: left;
}
div.row {
    width: 100%;
    text-align: right;
}
.row.bottom-row {
    float: right;
}
div.dates > div > * {
    width: 100%;
    display: block;
}
div#alarmon {
    overflow: hidden;
    padding: 50px;
}
.right {
    float: right;
}
.left {
    float: left;
}
.alarm-setting-table {
    text-align: left;
}
.button-success.active {
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
.button-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
.button-danger.active {
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
.button-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
.button-primary.active {
    color: #fff;
    background-color: #3071a9;
    border-color: #285e8e;
}
.button-primary {
    color: #fff;
    background-color: #428bca;
    border-color: #357ebd;
}
.button-warning.active {
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
.button-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
div.right-wrong > div {
    width: 50%;
    display: inline-block;
    height: 100px;
}
/**
 * Create the checkbox event for the label
 */
.chkWrap input[type=checkbox]:checked + label,
.prvWrap input[type=checkbox]:checked + label{
    left: 0px;
    background: #26ca28;
    margin-left: 49%;
}
div#checks > div {
    width: 65%;
    display: inline-flex;
    margin: 50px;
}
.chkWrap, .prvWrap {
    width: 100%;
    height: 100px;
    background: #333;
    margin: auto;
    border-radius: 50px;
    position: relative;
}
.chkWrap:before {
    content: 'Active';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    color: #26ca28;
    font-size: 52px;
    margin: 5%;
}
.prvWrap:before {
    content: 'Private';
    position: absolute;
    top: 0;
    margin: 5%;
    height: 2px;
    color: #26ca28;
    font-size: 52px;
    left: 0;
}
.chkWrap:after {
    content: 'Inactive';
    position: absolute;
    top: 0;
    left: 0;
    height: 10px;
    color: #f00;
    font-size: 48px;
    font-weight: bold;
    margin: 5% 5% 5% 54%;
}
.prvWrap:after {
    content: 'Public';
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    color: #10afff;
    font-size: 52px;
    margin: 5% 5% 5% 55%;
}
.prvWrap label {
    display: block;
    width: 48%;
    height: 80px;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #1035ff;
}
.chkWrap label {
    display: block;
    width: 50%;
    height: 80px;
    border-radius: 50px;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    -ms-transition: all .5s ease;
    transition: all .5s ease;
    cursor: pointer;
    position: absolute;
    top: 9px;
    z-index: 1;
    left: 12px;
    background: #f00;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
    width: 100%;
    position: relative;
}
.nav-tabs>li:nth-child(4) {
    width: 18%;
}
.nav-tabs>li:nth-child(2) {
    width: 22%;
}
.nav-tabs>li {
    text-align: center;
    margin: 0 auto -1px auto;
    display: inline-flex;
    font-size: 44px;
    background-color: #cccccc;
    border: 1px solid black;
    width: 20%;
}
.nav-tabs>li>a {
    width: 100%;
}
.tab-content>.active {
    background-color: white;
}
.tab-content>.tab-pane {
    padding: 25px;
}
.hidden {
    display: none;
}
form.new-cardset-form {
    margin: 20px auto;
    width: 95%;
}
.mod-buttons>span {
    overflow: hidden;
    width: 100px;
    display: block;
    font-size: 60px;
    line-height: 1em;
    border: 1px solid black;
    border-radius: 4px;
    margin-top: 1px;
    color: green;
    font-weight: bold;
    height: 80px;
}
ul#cardSetCategorization > li.active {
    background-color: #F1C40F;
}
div.newcard-submit-container > button {
    font-size: 60px;
}
div.newcard-submit-container {
    background-color: white;
    width: 100%;
    padding: 10px;
}
ul#cardSetCategorization {
    width: 90%;
    color: #000;
    border: 2px solid black;
    background-color: white;
    text-align: left;
    list-style-type: none;
}
.sameline {
    width: 100%;
    display: inline-flex;
    margin: auto;
}
div[id^='add'] > div.header {
    border-bottom: 5px solid black;
}
div.login, div.quiz, div.addcardset,
div.addcard , div.addcategory, div.editcardset {
    font-size: 60px;
    border: 5px solid black;
    background-color: rgba(235,235,235,0.5);
}
button#editCardsetSubmitButton {
    font-size: 60px;
}
div.quiz-content {
    min-height: 800px;
    overflow: hidden;
    display: block;
    border: 2px solid black;
    position: relative;

}
.header {
    border-bottom: 5px solid black;
    background-color: white;
}
select > option {
    font-size: 25px;
}
select#addCardCardset_id {
    width: 100%;
    border: 2px solid black;
}
div.tab-pane textarea {
    height: 300px;
}
div.tab-pane textarea, div.tab-pane input {
    width: 100%;
    border: 2px solid black;
}
.addcardset, .addcard, .editcardset, .editcard, .editcategory, .addcategory {
    font-size: 60px;
}
.tab-content>div#general {
    font-size: 60px;
    border: 2px solid black;
}
div#viewcards-cont {
    margin: 50px 0;
    border: 2px solid black;
    width: 100%;
    padding: 25px;
}
div#cardscontainer {
    width: 100%;
    margin: 25px 0;
    background-color: azure;
    overflow: hidden;
}
div.cardinset {
    border: 1px dotted black;
    background-color: azure;
    padding: 25px;
}
button#viewcardsbtn {
    border-bottom-left-radius: 500px;
    border-bottom-right-radius: 500px;
    padding: 0 100px;
    background-color: azure;
}
div#showHint {
    position: absolute;
    bottom: 0px;
    text-align: center;
    border: 5px outset orange;
    background-color: orange;
    width: 100%;
}
div.right-wrong {
    height: 150px;
}
div#ratings {
    height: 300px;

}
div.right-wrong, div#ratings {
    display: inline-table;
    width: 100%;
}
div.right-wrong > div.btn {
    width: 50%;
    font-size: 84px;
}
div#ratings > div.btn {
    font-size: 84px;
    display: table-row;
}
div.scores-rows > div {
    display: inline-flex;
    font-size: 48px;
    width: 49%;
}
div.scores-div {
    background-color: white;
}
div.scores-rows {
    display: block;
    width: 100%;
}
div.scores-row-1 > div {
    width: 32%;
}
div.scores-row-2 {
    text-align: left;
}
div.scores-row-3 {
    display: inline-flex;
}
div.scores-row-3 > div {
    width: 49%;
    text-align: left;
}
div#quizStartDiv {
    vertical-align: middle;
    display: table-cell;
}
div#userInteractionDiv {
    margin-top: 50px;
}
div#deckBlind {
    background-color: white;
    z-index: 1000;
    color: #000;
    display: table;
    height: 800px;
}
div#cardDeck {
    height: 700px;
}
div#cardDeck,
div#deckBlind {
    position: absolute;
    width: 99%;
    margin: 0 auto;
}
div.scores-rows,
div.right-wrong,
div.right-wrong > div {
    border: 2px solid black;
}
div.scores-button {
    border: 10px outset #eeeeee;
    background-color: black;
    color: white;
}
.top-container {
    background-color: midnightblue;
    color: white;
}
form.login-form {

}
form.login-form > div {
    margin: 20px 3px;
}
div.login-form-buttons {
    display: inline-block;
    padding: 0 20px;
    width: 100%;
}
div.login-form-buttons > button {
    margin: 0 50px;
    padding: 0 20px;
}
span.site-title {
    font-size: 120px;
    font-family: 'Permanent Marker', cursive;
    color: #fff;
}
span.menu-icon.fa.fa-bars {
    font-size: 84px;
    float: left;
    margin: 10px 20px;
}
div#info {
    font-size: 48px;
    margin: auto;
}
div#user {
    font-size: 48px;
    margin: auto 10px auto 0;
    float: right;
}
div.mycardsets {
    text-align: left;
}
button#newCardsetSubmitButton {
    font-size: 84px;
    margin: 50px;
}
div.cardset {
    border: 1px solid black;
    width: 90%;
    margin-left: 10%;
}
.mcs_header {
    font-size: 72px;
    border-bottom: 2px inset black;
    height: 100px;
}
span#logo > img {
    height: 300px;
}



.panel {
    position: absolute;
    width: 99%;
    height: 99%;
}
.panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 900;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background: #d8d8d8;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0,0,0,0.9);

    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;


    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}

.panel.flip .front {
    z-index: 900;
    border-color: #eee;
    background: #d8d8d8;
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.panel.flip .back {
    z-index: 1000;
    background: #d8d8d8;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}
.panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 800;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background: #d8d8d8;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all 0s ease-in-out;
    transition: all 0s ease-in-out;
}
.panel .hint {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 5px;
    z-index: 800;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    background: #d8d8d8;
}

/*!* Large *!*/
/*.top-menu {*/
    /*display: flex;*/
    /*flex-flow: row wrap;*/
    /*!* This aligns items to the end line on main-axis *!*/
    /*justify-content: flex-end;*/
/*}*/

/*!* Medium screens *!*/
/*@media all and (max-width: 800px) {*/
    /*.top-menu {*/
        /*!* When on medium sized screens, we center it by evenly distributing empty space around items *!*/
        /*justify-content: space-around;*/
    /*}*/
/*}*/

/*!* Small screens *!*/
/*@media all and (max-width: 500px) {*/
    /*.top-menu {*/
        /*!* On small screens, we are no longer using row direction but column *!*/
        /*flex-direction: column;*/
    /*}*/
/*}*/
/*
@media screen and (min-width: 200px) and (max-width: 400px) {
    span.site-title {
        font-size: 120px;
        font-family: 'Permanent Marker', cursive;
        color: #000;
    }
    span.menu-icon.fa.fa-bars {
        font-size: 84px;
        float: left;
        margin: 10px 20px;
    }
    div#info {
        font-size: 48px;
        margin: auto;
    }
    div#user {
        font-size: 48px;
        margin: auto 0;
        float: right;
    }
}
@media screen and (min-width: 401px) and (max-width: 1000px) {
    span.site-title {
        font-size: 80px;
        font-family: 'Permanent Marker', cursive;
        color: #fff;
    }
    span.menu-icon.fa.fa-bars {
        font-size: 48px;
        float: left;
        margin: 10px 20px;
    }
    div#info {
        font-size: 24px;
        margin: auto;
    }
    div#user {
        font-size: 24px;
        margin: auto 0;
        float: right;
    }
}
@media screen and (min-width: 1001px) {
    span.site-title {
        font-size: 80px;
        font-family: 'Permanent Marker', cursive;
        color: #fff;
    }
    span.menu-icon.fa.fa-bars {
        font-size: 84px;
        float: left;
        margin: 10px 20px;
    }
    div#info {
        font-size: 48px;
        margin: auto;
    }
    div#user {
        font-size: 48px;
        margin: auto 0;
        float: right;
    }
}
/*
@media screen and (max-width: 360px) and (min-width: 520px) {
    ul li a {
        padding-left: 30px;
        background: url(email-icon.png) left center no-repeat;
    }
}*/