.answer-rating-div {
	border: 1px solid black;
}
.answered-carddeck-div {

}
.button-correct {
	border: 2px outset black;
	float: left;
	width: 50%;
}
.button-incorrect {
	border: 2px outset black;
	float: left;
	width: 50%;
}
.card-rating-div {
	height: 100px;
	width: 100%;
	position: relative;
}
.card-deck-shuffled {

	text-align: center;

}
.card-holder {
	position: absolute;
	height: 150px;
	width: 250px;
}
.card {
	position: absolute;
	width: 250px;
	height: 150px;
	overflow: hidden;
	border: 1px solid green;
	margin: auto;
	background-color: rgba(255,255,255,1.0);
}
.hidden {
	display: none;
}
.inactive-card {
	position: absolute;
	width: 100px;
	height: 25px;
	float: left;
	overflow: hidden;
	border: 1px solid green;
	margin-left: 5px;
	background: rgba(255,255,255,1.0);
}
.config-window {
    position: absolute;
    margin: 0 5px;
	left: -1000px;
}
.form-container {
    background-color: #ddd;
    border: 3px inset black;
    overflow: hidden;
	padding: 5px;
	min-width: 250px;
}
div#stats {
	width: 100%;
	height: 100%;
}
#user_prefs_form label {
    clear: left;
    float: left;
    margin-bottom: 5px;
    padding: 3px;
}
.key-config-input {
    clear: right;
    float: right;
    margin-bottom: 5px;
    text-align: center;
}
legend {
    border-bottom: 1px solid;
    font-size: 16px;
    font-weight: bold;
}
#closePrefs {
	color: #fff;
	background-color: #d9534f;
	right: 3px;
	top: 3px;
	font-weight: bold;
	height: 25px;
	position: absolute;
	width: 25px;
 }
.shuffled {

	position: absolute;

	margin: 20%;
	
	/*-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;	

	-webkit-transform: rotateX(75deg) rotateZ(30deg);
	-moz-transform: rotateX(75deg) rotateZ(30deg);
	transform: rotateX(75deg) rotateZ(30deg);
	-webkit-transform-style: preserve-3d;f
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;

	-webkit-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;*/

}
.current-card-div {
	border: 1px solid black;
}
.current-card-div > .card {
	width: 100%;
}
.current-hint-div {
	border: 1px solid black;
	border-bottom: none;
	height: 100px;
	position: relative;
	top: 3px;
}
.current-hint {
	
	position: relative;
	top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.current-user-answer-div {
	border: 1px solid black;
	height: 120px;
	position: absolute;
	width: 99%;
	bottom: 3px;
}
.current-user-answer {
	border: 1px solid black;
	position: relative;
	top: 50%;
	  -webkit-transform: translateY(-50%);
	  -ms-transform: translateY(-50%);
	  transform: translateY(-50%);
	  height: 100%;
  	text-align: left;
}
.current-user-answer>button {
	float: right;
}
.current-user-answer>span {
	float: left;
}
.user-answer {
	width: 100%;
	font-size: 18px;
}
.hint-button {
	position: relative;
	margin: 2px;
	border-top: 1px solid black;
	z-index: 100;
}
.hint-button>span {
	border: 1px solid black;
	padding: 2px 3px;
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-top: none;
}
.notification-div {
	width: 25%;
	height: 25%;
	overflow: hidden;
	z-index: -500;
	border: 1px solid black;
	background-color: #dd15d8;
	position: absolute;
}
div.closebutton {
	float: right;
	width: 25px;
	border: 1px outset black;
	background-color: red;
}
div#notify {
	display: inline-block;
	width: 100%;
	overflow: hidden;
}
div.notify-header {
	position: relative;
	width: 100%;
	border-bottom: 1px solid black;
	overflow: hidden;
}
div.notify-footer {
	position: absolute;
	bottom: 3px;
	display: flex;
	width: 100%;
	border-top: 1px solid black;
	padding: 5px;
}
div#buttonsDiv {
	width: inherit;
}
.quiz-container {
	margin: auto;
	position: relative;
	min-height: 300px;
	width: 100%;
}
.quiz-menu-bar {

	border: 1px solid black;
	overflow: hidden;
	height: 23px;
	width: 60%;
	margin: auto;
	margin-bottom: 20px;
	/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(115,187,223,1) 0%,rgba(23,86,127,1) 100%);
/* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(115,187,223,1) 0%,rgba(23,86,127,1) 100%);
/* IE10+ */
background: linear-gradient(to bottom, rgba(115,187,223,1) 0%,rgba(23,86,127,1) 100%);
/* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bbe9', endColorstr='#17567f',GradientType=0 ); IE6-9 */
filter: none; /*IE6-9 */
-moz-box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
-webkit-box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}
.quiz-menu-bar>ul {
	list-style-type: none;


}
.quiz-menu-bar>ul>li {

	float: left;
	
	display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(115,187,223,1) 0%,rgba(23,86,127,1) 100%);
/* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(115,187,223,1) 0%,rgba(23,86,127,1) 100%);
/* IE10+ */
background: linear-gradient(to bottom, rgba(115,187,223,1) 0%,rgba(23,86,127,1) 100%);
/* W3C */
/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#73bbe9', endColorstr='#17567f',GradientType=0 ); IE6-9 */
filter: none; /*IE6-9 */
-moz-box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
-webkit-box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}
div.prompt-window {
	position: absolute;
	width: 100px;
	height: 100px;
	border: 3px outset black;
	display: table;
	padding: 10px;
	background-color: lightsteelblue;
	display: none;
}

 div.new-card-prompt-div {
	 position: absolute;
	 z-index: 100;
	 border: 3px outset black;
	 display: none;
	 padding: 10px;
	 background-color: lightsteelblue;
	 margin-left: 30%;
 }

div#alarmCountDiv {
	overflow: hidden;
	clear: right;
	padding: 20px;
}
.chkWrap input[type=checkbox]:checked + label,
.prvWrap input[type=checkbox]:checked + label{
	left: 64px;
	background: #26ca28;
}

.checks {
	display: inline-flex;
	padding: 10px;
}
.alarm-table {
	margin: auto;
}
.newpromptfooter {
	display: inline-block;
	width: 100%;
	margin: 10px 5px;
	border-top: 2px inset black;
	padding-top: 20px;
}
div#infoActive {
	margin-left: 25px;
}
div#infoPrivate {
	margin-right: 25px;
}
div.newpromptfooter > button {
	margin: 0 10px;
}
div#date {
	float: right;
}
div#dates {
	display: block;
	overflow: hidden;
	text-align: center;
	margin-right: 15px;
}
table.alarm-table > tbody > tr > td:nth-child(2) {
	float: left;
}
div#modified_datediv {
	float: right;
}
.chkWrap, .prvWrap {
	width: 120px;
	height: 40px;
	background: #333;
	margin: auto;
	border-radius: 50px;
	position: relative;
}
.chkWrap:before {
	content: 'Active';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 12px;
}
.prvWrap:before {
	content: 'Private';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 12px;
}
.chkWrap:after {
	content: 'Inactive';
	position: absolute;
	top: 12px;
	left: 72px;
	height: 2px;
	color: #f00;
	font-size: 12px;
}
.prvWrap:after {
	content: 'Public';
	position: absolute;
	top: 12px;
	left: 72px;
	height: 2px;
	color: #10afff;
	font-size: 12px;
}
.prvWrap label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #1035ff;
}
.chkWrap label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #f00;
}
.center {
	text-align: center;
}

.quiz-content {

	border: 1px solid blue;
	width: 100%;
	text-align: center;

}
div#header {
	height: initial;
}
.quiz-content>div {

	border: 1px solid red;
	width: 33%;
	display: inline-block;
	margin: 5px 0 0;
	padding: 2px;
	position: relative;
	vertical-align: top;
	height: 350px;
}
#quiz-menu-bar ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   background:#ddd;
   color:#00f;
   text-decoration:none;
   line-height:1.3em;
}
a {
-moz-box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(18,156,156,1), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
-webkit-box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(18,156,156,1), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(18,156,156,1), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
color: #000;
}
a:hover {
   -moz-box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
-webkit-box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
box-shadow:
0px -1px 3px rgba(190,255,255,0.5), /*top external highlight*/
2px 3px 3px rgba(0,0,0,0.2), /*bottom external shadow*/
inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
   color:#fff;
}
#quiz-menu-bar ul li a.active,
#quiz-menu-bar ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}
.rating-button {
	border: 1px outset black;
	height: 75%;
	width: 25%;
	float: left;
	margin: auto;
	color: black;
	font-size: 16px;
	padding: 25px 5px 5px;
	text-shadow: 1px 1px #fff;
}
.rating-button:hover {
	text-shadow: 0 0 #000;
}
.rating-button-1 {
	
}
.rating-button-2 {
	
}
.rating-button-3 {
	
}
.rating-button-4 {
	
}
div#retestWin {
	height: 250px;
	width: 300px;
	position: absolute;
	background-color: white;
	border: 2px outset black;
	border-radius: 4px;
}
.scoring {
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.scores-div {
	background-color: white;
	width: 100%;
}
.scores-rows {
	border: 1px outset black;
	height: 33.3%;
	display: inline-flex;
	width: 33%;
	text-align: center;
	white-space: nowrap;
}
.scores-rows div {
	margin: auto;
	padding: 2px;
}
.scores-row-1 {
	color: red;
}
.scores-row-2 {
	color: red;
}
.scores-row-3 {
	color: red;
}
.scores-row-1 div {
	color: red;
	width: 33%;
}
.scores-row-2 {
	color: red;
}
.scores-row-3 div {
	color: red;
	width: 50%;
}
.selected {
	text-shadow: 1px 1px 1px #ccc;
	color: black;
}
.select-quiz-set {

	padding: 2px;
	background-color: white;
	border: 2px inset royalblue;

}

/* -- swing like a gate -- */
.swing .front,
.swing .back {
/*width: 140px;*/
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
-webkit-transition-duration: 1s;
-moz-transition-duration: 1s;
transition-duration: 1s;
-webkit-transform-origin: 225px 0;
-moz-transform-origin: 225px 0;
transform-origin: 225px 0;
}
.swing .front {
-webkit-transform: rotateY(0deg);
-moz-transform: rotateY(0deg);
transform: rotateY(0deg);
}
.swing .back {
background-color: #555; /* hiding this side, so get darker */
-webkit-transform: rotateY(-180deg) translateX(198px) translateZ(2px);
-moz-transform: rotateY(-180deg) translateX(198px) translateZ(2px);
}
.swing.flip .front {
background-color: #222; /* hiding this side, so get darker */
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
}
.swing.flip .back {
background-color: #80888f;
-webkit-transform: rotateY(0deg) translateX(198px) translateZ(2px);
-moz-transform: rotateY(0deg) translateX(198px) translateZ(2px);
}
#answeredCardsDiv.front.pad {
	overflow-x: hidden;
	overflow-y: auto;  
	width: 100%;
}
.panel {
	/*position: relative;
	border: 1px solid black;
	left:25%;
    top:50%;
    margin:-50px 0 0 0;
	height: 250px;
	width: 250px;
	font-size: .8em;*/
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;	
}
#answeredCardsDiv .panel .front {

overflow-y: auto;
overflow-x: hidden;
}
.panel .front {
float: none;
position: absolute;
top: 0;
left: 0;
padding: 5px;
z-index: 900;
width: 250px;
height: inherit;
border: 1px solid #ccc;
background: #d8d8d8;
text-align: center;
box-shadow: 0 1px 5px rgba(0,0,0,0.9);

-webkit-transform: rotateX(0deg) rotateY(0deg);
-moz-transform: rotateX(0deg) rotateY(0deg);
transform: rotateX(0deg) rotateY(0deg);
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;


/* -- transition is the magic sauce for animation -- */
-webkit-transition: all 0s ease-in-out;
transition: all 0s ease-in-out;
}
.panel.flip .front {
z-index: 900;
border-color: #eee;
background: #d8d8d8;
box-shadow: 0 15px 50px rgba(0,0,0,0.2);
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
transform: rotateY(180deg);
}
.panel .back {
float: none;
position: absolute;
top: 0;
left: 0;
padding: 5px;
z-index: 800;
width: inherit;
height: inherit;
border: 1px solid #ccc;
background: #d8d8d8;
text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
-webkit-transform: rotateY(-180deg);
-moz-transform: rotateY(-179deg); /* setting to 180 causes an unnatural-looking half-flip */
transform: rotateY(-179deg);
-webkit-transform-style: preserve-3d;
-moz-transform-style: preserve-3d;
transform-style: preserve-3d;
-webkit-backface-visibility: hidden;
-moz-backface-visibility: hidden;
backface-visibility: hidden;
/* -- transition is the magic sauce for animation -- */
-webkit-transition: all 0s ease-in-out;
transition: all 0s ease-in-out;
}
.panel.flip .back {
z-index: 1000;
background: #d8d8d8;
-webkit-transform: rotateX(0deg) rotateY(0deg);
-moz-transform: rotateX(0deg) rotateY(0deg);
transform: rotateX(0deg) rotateY(0deg);
box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}