.admin-buttons {
	text-align: center;
}
.admin-buttons>button {
	margin: 2px;
}
.border-black {
	border: 1px solid black;
}
.border-red {
	border: 1px solid red;
}
.border-blue {
	border: 1px solid blue
}
.border-green {
	border: 1px solid green;
}
.cardset-info {
	text-align: center;
	border: 2px outset black;
	min-height: 240px;
	overflow: hidden;

}
.cardset-selector {
	border: 2px inset black;
	padding: 2px;
}
.cards-in-set {

}
.categorization-container {
    margin: 7px 3px;
    min-width: 200px;
    padding: 3px;
    text-align: left;
}
.categorization-container>label {
	display: inline-flex;
    vertical-align: top;
}
.categorization-container>div.selc-mod-div {
	display: inline-flex;
	width: 25px;
}
.prompt-items {
	width: 100%;
}
.prompt-items > div {
	width: 100%;
	display: block;
}
/*div.prompt-items > div > * {*/
	/*margin: auto;*/
	/*display: inline-block;*/
/*}*/
.mod-buttons>span {
	overflow: hidden;
	width: 25px;
	display: block;
	font-size: 14px;
	line-height: 1em;
	border: 1px solid black;
	border-radius: 4px;
	margin-top: 1px;
	color: green;
	font-weight: bold;
}
#deleteCat {
	color: red;
}
div#alarmon > table {
	margin: auto;
}
.textareadiv {

}
div#checks > div {
	display: inline-table;
	width: 40%;
}
.prompt-items > div {
	width: 100%;
	display: block;
}
div#dates {
	clear: both;
	display: block;
	margin: auto;
}
div#alarmCountDiv {
	overflow: hidden;
	clear: right;
	padding: 20px;
}
.checks {
	float: right;
}
.chkWrap, .prvWrap {
	width: 120px;
	height: 40px;
	background: #333;
	margin: auto;
	border-radius: 50px;
	position: relative;
}
.chkWrap:before {
	content: 'Active';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 12px;
}
.prvWrap:before {
	content: 'Private';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 12px;
}
.chkWrap:after {
	content: 'Inactive';
	position: absolute;
	top: 12px;
	left: 72px;
	height: 2px;
	color: #f00;
	font-size: 12px;
}
.prvWrap:after {
	content: 'Public';
	position: absolute;
	top: 12px;
	left: 72px;
	height: 2px;
	color: #10afff;
	font-size: 12px;
}
.prvWrap label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #1035ff;
}
.chkWrap label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #f00;
}
.center {
	text-align: center;
}
.firstselect {
    min-width: 50%;
}
.secselect {
    color: black;
    display: inline;
    margin-right: 3px;
    width: 39%;
}
.info-short-items {
    float: left;
    padding: 2px;
    text-align: center;
    margin: 9px;
    width: 31%;
}
.short-items {
    display: block;
    overflow: auto;
}
.highlight {
    background-color: whitesmoke !important;
}
.top-left-form-div {
	display: inline-block;
    float: left;
    margin: 10px 0 3px;
    padding: 3px 5px;
    width: 50%;
}
.description-div {
	display: block;
    float: right;
    width: 50%;
}
.view-header {
	border: 1px outset black;
	overflow: hidden;
}
.view-body {
	border: 1px outset black;
	overflow: hidden;
	min-height: 250px;
}
.view-cardsets-page {
	overflow: hidden;
	margin: auto;

}
table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }
.tab-content>div {
	overflow: hidden;
}
#updateCardsetSubmitButton {
	float: right;
}
.modal-dialog {
    width: 650px;
}
/**
 * Create the checkbox event for the label
 */
.chkWrap input[type=checkbox]:checked + label,
.prvWrap input[type=checkbox]:checked + label{
	left: 60px;
	background: #26ca28;
}

#infoActive {}

#infoActive > span {
	margin: 10px auto;
}