.cardsets-content {
	margin: 2px;
	padding: 5px;
}
.all-cardsets-table-div {

	width: 95%;
	text-align: center;
	float: right;

}
.admin-buttons {
	text-align: center;
}
.admin-buttons>button {
	margin: 2px;
}
#mainArea {
	display: none;
}
table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }

#infoCont {
	border: 3px outset black;
	display: block;
	overflow: hidden;
	padding: 5px;
	position: relative;
}

#catCont {
	clear: left;
	margin: 10px auto;
	overflow: hidden;
	padding: 8px;
	position: relative;
}

#descCont {
	display: inline;
	float: right;
	overflow: hidden;
	position: relative;
}

#nameCont {
	clear: both;
	float: left;
	overflow: hidden;
	position: relative;
}

#infoCreated {
	float: left;
}

.categorization-container>div>span {
	overflow: hidden;
	width: 25px;
	display: block;
	font-size: 14px;
	line-height: 1em;
	border: 1px solid black;
	border-radius: 4px;
	margin-top: 1px;
	color: green;
	font-weight: bold;
}
#deleteCat {
	color: red;
}

#catchange {
	float: right;
	height: 110px;
	padding: 10px;
}

.chkWrap {
width: 120px;
height: 40px;
background: #333;
margin: auto;
border-radius: 50px;
position: relative;
}
.chkWrap:before {
	content: 'Active';
	position: absolute;
	top: 12px;
	left: 13px;
	height: 2px;
	color: #26ca28;
	font-size: 12px;
}
.chkWrap:after {
	content: 'Inactive';
	position: absolute;
	top: 12px;
	left: 72px;
	height: 2px;
	color: #f00;
	font-size: 12px;
}
.chkWrap label {
	display: block;
	width: 52px;
	height: 22px;
	border-radius: 50px;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	-ms-transition: all .5s ease;
	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 12px;
	background: #f00;
}
/**
 * Create the checkbox event for the label
 */
.chkWrap input[type=checkbox]:checked + label {
	left: 60px;
	background: #26ca28;
}

#infoActive {
	display: inline;
	height: 100px;
	margin: 10px auto;
	overflow: hidden;
	position: relative;
}

#infoActive > span {
	margin: 10px auto;
}

