.code-generator {
	display: inline-flex;
}
.code-generator input {
	border-radius: 4px;
	font-size: 12px;
	height: 10px;
	direction: rtl;
	width: 25px;
	margin-top: 4px;

}
.code-generator .ui-spinner {
	height: 20px;
	width: 50px;
}
.code-generator button {
	height: 22px;
	width: 40px;
	border-radius: 4px;
	font-size: 14px;
	font-weight: bold;
}
.user-content {
	margin: 2px;
	padding: 5px;
	width: 94%;
	float: right;
}
.all-codes-table-div {
	position: relative;
	width: 98%;
	text-align: center;

}
.admin-buttons {
	text-align: center;
}
.admin-buttons>button {
	margin: 2px;
}
#mainArea {
	display: none;
}
table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }