body {
    background-color: #dcdcdc;
}
.admin-panel-header {

    position: absolute;
    top: 0;
    height: 30px;
    overflow: hidden;
    border: 1px solid black;
    border-bottom: none;
    background-color: black;
    color: white;
    margin-left: 5.2%;
    font-size: 12px;
    width: 95%;
}
.admin-panel-header>div {
    height: 100%;
    line-height: 25px;
}
.admin-panel-header>div>span {
    margin: auto;
    height: 100%;
}
.admin-who {

    float: left;
    overflow: hidden;

}
.admin-clock {

    margin: auto;
    overflow: hidden;
    display: inline;
}
.back-to-main {
    float: right;
    overflow: hidden;
    margin-right: 5px;
    border: 1px solid black;
}
.back-to-main:hover {
    border-color: white;
}
.blog-icon {
    height: 40px;
}
#container {
    width: 99%;
    position: relative;
    font-family: 'Times New Roman';
    font-size: 18px;
    margin: auto;
    height: 600px;
}
#container ul {
    list-style-type: none ;
}
.copyright {
    color: black;
}
#dallioLogo {
    width: 70px;
    height: 30px;
    float: left;
    padding-left: 2px;

}

li#quotes {
    display: inline-flex;
    font-size: 10px;
}
span.fa.fa-quote-right.fa-2x {
    margin-left: -20px;
}
.footer {
    /* For Safari 5.1 to 6.0 */
background: -webkit-linear-gradient(top,royalblue 20%,skyblue 80%);
/* For Opera 11.1 to 12.0 */
background: -o-linear-gradient(top, royalblue 20%,skyblue 80%);
/* For Fx 3.6 to 15 */
background: -moz-linear-gradient(top, royalblue 20%,skyblue 80%);
/* Standard syntax */
background: linear-gradient(to bottom, royalblue 20%,skyblue 80%); 
    /*min-height: 50px;*/
    position: relative;
    text-align: center;
    font-size: 12px;
    color: white;
    clear: left;
}

.footerHolder {
    bottom: 5px;
    width: 100%;
    clear: both;
    /*max-height: 50px;*/
}

.footer-menu {
    
}

.footer-menu-list {
    overflow: hidden;
    text-align: center;
    font-size: 14px;
}

.footer-menu-list>li {
    float: left;
    display: inline-block;
    width: 12.5%;/*--  this needs to be equal to 100/#ofLIs  --*/
}

.footer-sep-bar {
    background-color: #101be8;
    width: 100%;
    height: 10px;
    overflow: hidden;
}
.left-sidebar {
    width: 5%;
    margin: 2px;
    float: left;
    border: 2px inset black;
    font-size: 16px;
    text-align: center;
    overflow: hidden;
}
.left-sidebar>ul {

    margin:0;
    padding:0;
    list-style-type:none;
    display:block;
    font:bold 16px Helvetica, Verdana, Arial, sans-serif;
    line-height:165%;
    background-color: #449cee;
    width: 100%;
}
li#promptlinkage > span.fa-exclamation-circle {
    position: relative;
    margin-left: -25px;
}
li#promptlinkage > span.fa.fa-link.fa-2x {
    color: yellow;
    z-index: 10;
    top: 5px;
    left: 25px;
    position: absolute;
}
li#promptlinkage {
    position: relative;
}
/*

    ul.vert-one li{margin:0;padding:0;border-top:1px solid #4D0000;
    border-bottom:1px solid #761A1A;}

    ul.vert-one li a{display:block;text-decoration:none;color:#fff;
    background:#600;padding:0 0 0 20px;width:180px;}

    ul.vert-one li a:hover{
    background:#900 url("images/vert-one_arrow.gif") no-repeat 0 9px;}

    ul.vert-one li a.current,ul.vert-one li a.current:hover{
    background:#933 url("images/vert-one_arrow.gif") no-repeat 0 9px;}

*/
.left-sidebar>ul>li {

    /*margin:0;padding:0;border-top:1px solid #4D0000;
    border-bottom:1px solid #761A1A;*/

}
.left-sidebar>ul>li span {

    margin:2px;
    padding:2px;
    height: 40px;
    width: 40px;

}
.left-sidebar>ul> li:hover {

    /*margin:0;padding:0;border-top:1px solid #4D0000;
    border-bottom:1px solid #761A1A;*/
    border-radius: 6px;
    background-color: skyblue;
    /*background:skyblue url("/assets/images/li_current_arrow.png") repeat-x 6px 0/1px 13px;*/

}/*
.left-sidebar>ul>li span.current, .left-sidebar>ul>li span.current:hover {
    background:#555 url("/assets/images/li_current_arrow.png") no-repeat 0 0/40px 18px;
}*/
.user-admin-options>ul li:hover, .menuHover {

    /*margin:0;padding:0;border-top:1px solid #4D0000;
    border-bottom:1px solid #761A1A;*/
    border-radius: 6px;
    background-color: skyblue;
    /*background:skyblue url("/assets/images/li_current_arrow.png") repeat-x 6px 0/1px 13px;*/

}
#logos {
    overflow: hidden;
    background-color: white;
    width: 5%;
}
#main {
    position: relative;
    overflow: hidden;
    margin: 0 0 0 5%;
    border: 2px outset black;
}
#mainArea {
    overflow: hidden;
}
.user-admin-options {
    position: absolute;
    background-color: #449cee;
    border: 1px solid royalblue;
    border-left: none;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
    z-index: 500;

    -moz-box-shadow:
        2px 2px 3px #aaaaaa;
    -webkit-box-shadow:
        2px 2px 3px #aaaaaa;
    box-shadow:
        2px 2px 3px #aaaaaa;
}
.user-admin-options>ul {

    padding: 0 5px;

}