.quizzes-content {
	margin: 2px;
	padding: 5px;
}
.all-quizzes-table-div {

	width: 95%;
	text-align: center;
	float: right;

}
.admin-buttons {
	text-align: center;
}
.admin-buttons>button {
	margin: 2px;
}
#mainArea {
	display: none;
}
table.dataTable tr.odd { background-color: #E2E4FF; }
table.dataTable tr.even { background-color: white; }