#quizContent {
	border: 3px inset black;
    padding: 5px;
    position: relative;
    width: 100%;
}
#quizContent > div {
    margin: auto;
    overflow: hidden;
}
#quizData > div {
    clear: left;
    overflow: hidden;
    width: 100%;
}
#quizData > div:first-child {
    display: inline-flex;
}
#backToQuizzes {
	position: relative;
	overflow: hidden;
	background-color: #888888;
	border: 2px solid black;
	border-bottom: none;
	width: 100%;
}
#backToQuizzes > button {
	float: right;
}
#quizResponse table {
    border: 1px solid black;
    text-align: center;
    width: 100%;
}
#quizResponse table thead {
    text-decoration: underline;
}
#quizResponse table tr:not(.header-top) {
    color: red;
    margin: 5px;
    padding: 5px;
    border-bottom: 1px outset black;
}
#quizResponse table tr.header-top) {
    color: white;
    margin: 5px;
    padding: 5px;
    border-bottom: 2px solid black;
}
.header-top {
	border-bottom: 2px solid black;
}
#quizResponse table tr td {
    margin: 3px;
    min-width: 30px;
    overflow: hidden;
    padding: 3px;
}
.viewquiz-content {
	width: 94.7%;
    float: right;
}
table.cards td:nth-child(odd) :not(:first-child) {
	/*visibility: hidden;*/
	background-color: #bbbbbb;
}
table.cards td:nth-child(even) {
	/*visibility: hidden;*/
	background-color: #aaaaaa;
}
table.cards .header-top {
	background-color: black;
	color: white;
}
.draw-order-selected {
	background-color: white;
	cursor: pointer;
}
.draw-order-hover {
	background-color: #bbbbbb;
	cursor: pointer;
}
#cardset_Name {
	position: relative;
	margin: auto;
	width: 60%;
}
#cardsetId {
	float: right;
}
#quizId {
	float: left;
}
#cardset_user {
	float: left;
}
#dateTaken {
	float: right;
}
#quizendtime {
	float: right;
}
#quizcardlength {
	float: left;
}
#questionCount {
	float: left;
}
#quizendtime {
	position: relative;
	margin: auto;
}
#quizpercentcorrect {
	float: right;
}